*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.menu-lateral {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.menu-lateral h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

.menu-lateral li {
    margin: 10px 0;
}

.menu-lateral a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.menu-lateral a:hover {
    background-color: #575757;
}

.contenido {
    padding: 20px;
    flex-grow: 1;
}

.contenido h1 {
    font-size: 32px;
}

.contenido p {
    font-size: 18px;
}
