* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    margin: 0;
    background-color: #e0ebf7;
}

.container {
    max-width:100%;
    margin-left: 150px;
    padding: 30px;
    padding-top: 80px;
    width: calc(100% - 150px);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2d4de;
    border-bottom: 2px solid rgb(39, 53, 71);
    z-index: 1; 
    padding-top: 20px;
}

.sidebar {
    position: absolute;
    top: 60px;
    left: 0;
    width: 300px;
    height: 900px;
    padding: 20px 10px;
    background-color: #ebf0f5;
    border-right: 1px solid rgb(36, 36, 36); 
}

.content {
    width: 1100px;
    padding: 20px;
    padding-left: 190px;
}

.main {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.output {
    border: 1.5px solid rgb(55, 76, 104);
    padding: 10px;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ccc;
}


.sidebar button {
    display: block;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid rgb(55, 76, 104);
}
.descripcion {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #bfcbd6;
    background-color: #e0ebf7;
    border-radius: 5px;
    font-size: 14px;
    display: none;
}

.text-box {
    width: 100%;
    padding: 10px;
    border: 1.5px solid rgb(55, 76, 104);
    margin-bottom: 10px;
    min-height: 100px;
}

.question-text {
    padding: 10px;
    font-weight: bold; 
    color: rgb(20, 26, 33);
}

.action-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 15px;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.btn-execute {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-execute:hover {
    background-color: #0056b3;
}

#shift {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
}
#key {
    width: 150px;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
}

.btn-encrypt {
    padding: 15px 30px; 
    font-size: 14px; 
    width: 120px;
}